<h1>Logifffffn</h1>


<form action="/drivers" method="POST">
<form>
    <p>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" />
    </p>

        <input type="submit" />

</form> 