<%# <form action="/cars/<%= @car.id %>" method="post"> %>
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="model">model</label>
      <%# <input id="model" type="text" name="car[model]" value="<%= @car.model %>" /> %>
    </li>
    <li>
      <label for="make">make</label>
      <%# <textarea id="make" type="text" name="car[make]"  value="<%= @car.make %>"> %>
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>