<%# <form action="/cars" method="post">
  <ul>
    <li>
      <label for="model">model</label>
      <input id="model" type="text" name="model" />
    </li>
    <li>
      <label for="make">make</label>
      <textarea id="make" type="text" name="make">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form> %>