<%# <h1><%= @car.model</h1>
<%# <%= @car.make %> %> %>

<%# <form method="post" action="/cars/<%= @car.id %>"> %>
  <%# <input type="hidden" name="_method" value="delete" /> %>
  <%# <input type="submit" /> %> %>
<%# </form> %>