
<div class="topnav">
  <a class="active" href="/create_posts">Home</a>
  <a href="/create_posts/new">New</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</div>

<ul>
<% @cars.each do |car| %>
  <li>
    <a href="/create_posts/<%= car.id %>">
      <%= car.model %>
    </a>
  </li>
<% end %>
</ul>