
<div class="topnav">
  <a class="active" href="/create_posts">Home</a>
  <a href="/create_posts/new">New</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
</div>

<h1><%= @car.model %></h1>
<%= @car.year %>


<form action="/create_posts/<%= @car.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<form method="get" action="/create_posts/<%= @car.id %>/edit">
    <button type="submit">Edit</button>
</form>